header {
    width: 375px;
    height: 44px;
    display: flex;
    justify-content: space-between;

}

.mylogo {
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
    padding-left: 20px;
}

.imagemenuicon {
    width: 24px;
    height: 24px;
    padding-top: 10px;
    padding-right: 20px;
}

.headliner {
    background-image: url(header-shapes\ mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 375px;
    height: 604px;

    padding: 114px 24px 11px 24px;
    gap: 12px;
    background-repeat: no-repeat;
    display: grid;



}

 